[Desktop Entry]
Name=World of PADMAN
Comment=Freeware Fun Shooter
Icon=net.worldofpadman.WoP
Exec=worldofpadman
Terminal=false
Type=Application
Categories=Game;ActionGame;
PrefersNonDefaultGPU=true
